
{% extends 'theme.html' %}
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}



{% block 'title' %}
  {% trans 'خروج القطع' %}
{% endblock %}


{% block 'content' %}
<link rel="stylesheet" href="{% static 'vendor/flatpickr/dist/flatpickr.min.css'%}">

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="float: right;"> 
          <ol class="breadcrumb float-sm-left">
            
            <li  class="breadcrumb-item"><a href="{%url 'mainApp:home'%}">{%  trans 'الصفحةالرئيسية'%}</a></li>
            <li  class="breadcrumb-item"><a href="{%url 'mainApp:listOf_item'%}">{% trans 'قائمة القطع'%}</a></li>
            <li class="breadcrumb-item active"> {% trans 'خروج القطع'%}</li>
          </ol>
         </h1>
      </div>
    </div>
  </div>
</section>




<div class="container post-listing">
    

    <div class="row ">
      <div class="col-md-12 col-xm-12 single-post">
        
       
        <div class="box-body">
            <div class="tab-content">
              <div class="tab-pane form-horizontal active" id="Listed">
                
               


                <!--Start of the Form-->
                <div dir="rtl" class="card">
                    <div class="card-header card-header-primary greenbar" style="text-align: justify;">
                      <h4 class="card-title">{%  trans 'خروج قطعة'%}</h4>
                      <p class="card-category">{%  trans 'برجاء ادخال بيانات القطعة'%}</p>
                    </div>
                    <div class="card-body" style="text-align: justify;">
                      <form  method="POST" enctype="multipart/form-data" id="form" class="needs-validation form-horizontal" novalidate>
                        {% csrf_token %}

                    

                        <div class="row">

                          <div class="col-6">
                            <div class="form-group bmd-form-group">
                              <label  class="pb-1" for="comp_or_rep">{%  trans 'شركة أم مندوب'%}</label>
                              <select  class="form-control mb-3 js-select required" required data-hs-tom-select-options='{ "placeholder": "{% trans 'أختر '%}..." }' name="comp_or_rep"  id="comp_or_rep">
                                <option value="">{%  trans 'اختر احد الأنواع'%}</option>
                                <option value="0">{% trans 'مندوب'%}</option>
                                <option value="1">{% trans 'شركة'%}</option>
                            </select>
                              <div class="invalid-feedback">
                                {%  trans 'الرجاء التحقق من هذه الخانة'%} 
                              </div>  
                            </div>
                          </div>

                          <div class="col-6 rep_holder">
                            <div class="form-group bmd-form-group">
                              <label  class="pb-1" for="representitive_with">{%  trans 'اسم المندوب'%}</label>
                              <select  class="form-control mb-3 js-select " data-hs-tom-select-options='{ "placeholder": "{% trans 'أختر المندوب'%}..." }' name="representitive_with" value="{{itemData.representitive_with.id}}" id="representitive_with">
                                <option value="">{%  trans 'اختر احد الأنواع'%}</option>
                                {% for item in all_rep %}
                                <option value="{{item.id}}"  {% if item.id == itemData.representitive_with.id %} selected {% endif %}>{{item.username}}</option>
                                {% endfor %}
                            </select>
                              <div class="invalid-feedback">
                                {%  trans 'الرجاء التحقق من هذه الخانة'%} 
                              </div>  
                            </div>
                          </div>



                          <div class="col-6 company_holder">
                            <div class="form-group bmd-form-group">
                              <label  class="pb-1" for="company_with">{%  trans 'اسم الشركة'%}</label>
                              <select class="form-control mb-3 js-select " data-hs-tom-select-options='{ "placeholder": "{% trans 'أختر الشركة'%}..." }' name="company_with"  id="company_with">
                                <option value="">{%  trans 'اختر احد الأنواع'%}</option>
                                {% for item in all_company %}
                                <option value="{{item.id}}"  >{{item.name}}</option>
                                {% endfor %}
                            </select>
                              <div class="invalid-feedback">
                                {%  trans 'الرجاء التحقق من هذه الخانة'%} 
                              </div>  
                            </div>
                          </div>


                         
                          <div class="col-12">
                            <div class="form-group bmd-form-group">
                              <label  class="pb-1" for="part_num">{%  trans 'كود القطعة'%}</label>
                              <input type="text"  class="form-control  mb-3 required"  required name="part_num" value="{{itemData.part_num}}" id="part_num">
                              <div class="invalid-feedback">
                                {%  trans 'الرجاء التحقق من هذه الخانة'%}
                              </div>  
                            </div>
                            <div id="part_numError" class="rounded bg-danger p-2 mb-2 d-none">

                            </div>
                          </div>

                         

                          <div class="col-12">
                            <div class="form-group bmd-form-group">
                              <label  class="pb-1" for="note">{%  trans 'ملاحظة'%}</label>
                              <textarea type="text" rows="5" class="form-control  mb-3" name="note" id="note"></textarea>
                              <div class="invalid-feedback">
                                {%  trans 'الرجاء التحقق من هذه الخانة'%}
                              </div>  
                            </div>
                          </div>

                          
                         


                          

                         

                         

                        
                        </div>


                       



                     


                     
                        
                    
                      
                         
                        <br/>
                        <!-- <button type="submit" class="btn btn-primary pull-right">حفظ</button> -->
                        <button type="submit" class="btn btn-primary" >{% trans "أمر خروج" %}</button>

                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>

                <!--End of the Form-->

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}




{% block javaNew %}


<script>

(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
      event.preventDefault();
    event.stopPropagation();
      if (form.checkValidity() === false) {
    
    }else{
      var dataString = $(this).serialize();
    
    // alert(dataString); return false;
   
    $.ajax({
      type: "POST",
      url: "{% url 'mainApp:out_stock_item'%}",
      data: dataString,
      success: function () {
       Swal.fire({
         title: 'تم',
         text:      'تم الخروج',
         type:         'success',
         timer: 500}
                           )
      }
    });
   
  
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();





// new functionality on submit checking if the item name doesn't exist before 







</script>
 




<script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js'%}"></script>
<script>

    // INITIALIZATION OF FLATPICKR
    // =======================================================
    HSCore.components.HSFlatpickr.init('.js-flatpickr')
 
</script>

<script>

$('#comp_or_rep').on('change', function() {
  if( this.value==1){
    $('.rep_holder :input').removeAttr('required')
    $('.rep_holder :input').removeClass('required')
    $('.rep_holder').addClass('d-none')

    $('.company_holder :input').attr('required',true)
    $('.company_holder :input').addClass('required')
    $('.company_holder').removeClass('d-none')
    
  }else{
    $('.company_holder :input').removeAttr('required')
    $('.company_holder :input').removeClass('required')
    $('.company_holder').addClass('d-none')

    $('.rep_holder :input').attr('required',true)
    $('.rep_holder :input').addClass('required')
    $('.rep_holder').removeClass('d-none')
  }
});


$('.company_holder :input').removeAttr('required')
    $('.company_holder :input').removeClass('required')
    $('.company_holder').addClass('d-none')


    $('.rep_holder :input').removeAttr('required')
    $('.rep_holder :input').removeClass('required')
    $('.rep_holder').addClass('d-none')

</script>
{% endblock %}
