
{% extends 'theme.html' %}
{%load static%}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}



{% block 'title' %}
  {% trans 'قائمة القطع' %}
{% endblock %}


{% block 'content' %}





<link rel="stylesheet" href="{% static 'vendor/flatpickr/dist/flatpickr.min.css'%}">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css"> -->

<style>
  table.dataTable thead tr>.dtfc-fixed-left, table.dataTable thead tr>.dtfc-fixed-right, table.dataTable tfoot tr>.dtfc-fixed-left, table.dataTable tfoot tr>.dtfc-fixed-right {
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: #7e99b3;
}

</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 style="float: right;"> 
          <ol class="breadcrumb float-sm-left">
            
            <li  class="breadcrumb-item"><a href="{%url 'mainApp:home'%}">{%  trans 'الصفحةالرئيسية'%}</a></li>
            <li class="breadcrumb-item active"> {% trans 'قائمة القطع'%}</li>
          </ol>
         </h1>
      </div>
    </div>
  </div>
</section>



  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
           
           
            <!-- Header -->
            <div class="card-header">
              <div class="row justify-content-between align-items-center flex-grow-1">
                <div class="col-md">
                  <div class="d-flex justify-content-start align-items-center d-none d-md-flex">
                 
                    <!-- Datatable Info -->
                      <div class="d-flex align-items-center">
                        <a class="btn btn-success btn-sm"  type="button" href="{% url 'mainApp:addnew_category'%}?type=new">  <i class="tio-delete-outlined"></i> {% trans 'اضافة موديل'%}</a>
                      </div>
                      <div class="d-flex align-items-center ms-2 me-2">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          {% trans 'إضافة مجموعة قطع'%}
                        </button>
                        </div>

                        <div class="d-flex align-items-center ms-2 me-2">
                          <a type="button" class="btn btn-outline-primary btn-sm" href="{% url 'mainApp:out_stock_item'%}">
                            {% trans 'خروج قطع'%}
                          </a>
                        </div>

                        <div class="d-flex align-items-center ms-2 me-2">
                          <a type="button" class="btn btn-outline-primary btn-sm" href="{% url 'mainApp:return_stock_item'%}">
                            {% trans 'مرتجع قطع'%}
                          </a>
                        </div>
                    <!-- End Datatable Info -->
                  </div>
                </div>
                <!-- End Col -->

                <div class="col-auto">
                  <!-- Filter -->
                  <div class="row align-items-sm-center">
                    <div class="col-md">
                      <!-- Dropdown -->
                      <div class="dropdown me-2">
                        <button type="button" class="btn btn-white btn-sm dropdown-toggle w-md-auto w-100" id="itemsExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi-download me-2"></i> Export
                        </button>
              
                        <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="itemsExportDropdown">
                          <span class="dropdown-header">Options</span>
                          <a id="export-copy" class="dropdown-item" href="javascript:;">
                            <img class="avatar avatar-xss avatar-4x3 me-2" src="{% static 'svg/illustrations/copy-icon.svg'%}" alt="Image Description">
                            Copy
                          </a>
                          <a id="export-print" class="dropdown-item" href="javascript:;">
                            <img class="avatar avatar-xss avatar-4x3 me-2" src="{% static 'svg/illustrations/print-icon.svg'%}" alt="Image Description">
                            Print
                          </a>
                          <div class="dropdown-divider"></div>
                          <span class="dropdown-header">Download options</span>
                          <a id="export-excel" class="dropdown-item" href="javascript:;">
                            <img class="avatar avatar-xss avatar-4x3 me-2" src="{% static 'svg/brands/excel-icon.svg'%}" alt="Image Description">
                            Excel
                          </a>
                          <a id="export-csv" class="dropdown-item" href="javascript:;">
                            <img class="avatar avatar-xss avatar-4x3 me-2" src="{% static 'svg/components/placeholder-csv-format.svg'%}" alt="Image Description">
                            .CSV
                          </a>
                          <a id="export-pdf" class="dropdown-item" href="javascript:;">
                            <img class="avatar avatar-xss avatar-4x3 me-2" src="{% static 'svg/brands/pdf-icon.svg'%}" alt="Image Description">
                            PDF
                          </a>
                        </div>
                      </div>
                      <!-- End Dropdown -->
                    </div>




                    <div class="col-md">
                      <form  class="container needs-validation form-horizontal" novalidate>
                        <!-- Search -->
                        <div class="input-group input-group-merge input-group-flush">
                          <div class="input-group-prepend input-group-text">
                            <i class="bi-search"></i>
                          </div>
                          <input id="datatableSearch" type="search" class="form-control" placeholder="{% trans 'البحث' %}" aria-label="{% trans 'البحث' %}">
                        </div>
                        <!-- End Search -->
                      </form>
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Filter -->
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->





              <div class="row mt-3  align-items-center flex-grow-1">
                <div class="col-12 col-md-3">
                  <label  class="pb-1" for="category">{%  trans 'موديل'%}</label>
                  <select  class="required js-select form-select"  data-hs-tom-select-options='{ "placeholder": "{%  trans 'اختر احد الموديلات'%}..." }' name="category"  id="category">
                                 
                    <option value="%%">{%  trans 'الكل'%}</option>
                    {% for item in all_category %}
                    <option value="{{item.id}}"  data-option-template='<div class="d-flex align-items-start"><div class="flex-shrink-0"><img class="img_list2" src="{% if item.image is None or item.image == "" %}{% static "img/160x160/img2.jpg" %}{% else %}{{item.image.file.url}}{%endif%}"/></div><div class="flex-grow-1 ms-2"><span class="d-block fw-semi-bold">{{item.serial_start}} ({{item.name_en}} {{item.color.name}} )</span></div></div>'>{{item.serial_start}} ({{item.name_en}} {{item.color.name}})</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-12 col-md-3">
                  <label  class="pb-1" for="size">{%  trans 'المقاس'%}</label>
                  <select  class="required js-select form-select" data-hs-tom-select-options='{ "placeholder": "{%  trans 'اختر احد المقاسات'%}..." }' name="size"  id="size">
                    <option value="%%">{%  trans 'الكل'%}</option>
                      {% for item in all_size %}
                      <option value="{{item.id}}"  >{{item.size}}</option>
                      {% endfor %}
                  </select>
              <!-- End Col -->
              </div>


              <div class="col-12 col-md-3">
                <label  class="pb-1" for="exists">{%  trans 'الحالة'%}</label>
                <select  class="required js-select form-select" data-hs-tom-select-options='{ "placeholder": "{%  trans 'حالة وجوده'%}..." }' name="exists"  id="exists">
                  <option value="%%">{%  trans 'الكل'%}</option>
                    <option value="">{%  trans 'حالة وجوده'%}</option>
                    <option value="1" >{% trans 'متاح بالمخزن'%}</option>
                    <option value="0" >{% trans 'غير متوفر بالمخزن'%}</option>
                </select>
            <!-- End Col -->
            </div>

            <div class="col-12 col-md-3">
              <label  class="pb-1" for="representitive_with">{%  trans 'اسم المندوب'%}</label>
              <select  class="required js-select form-select" data-hs-tom-select-options='{ "placeholder": "{%  trans 'اختر احد المناديب'%}..." }' name="representitive_with"  id="representitive_with">
                <option value="%%">{%  trans 'الكل'%}</option>
                <option value="">{%  trans 'اختر احد المناديب'%}</option>
                  {% for item in all_rep %}
                    <option value="{{item.id}}" >{{item.username}}</option>
                    {% endfor %}
              </select>
          <!-- End Col -->
          </div>


          <div class="col-12 col-md-3">
            <label  class="pb-1" for="sector">{%  trans 'اسم القطاع'%}</label>
            <select  class="required js-select form-select" data-hs-tom-select-options='{ "placeholder": "{%  trans 'اختر قطاع'%}..." }' name="sector"  id="sector">
              <option value="%%">{%  trans 'الكل'%}</option>
              <option value="">{%  trans 'اختر قطاع'%}</option>
                {% for item in all_sector %}
                  <option value="{{item.id}}" >{{item.name}}</option>
                  {% endfor %}
            </select>
        <!-- End Col -->
        </div>

        <div class="col-12 col-md-3">
          <label  class="pb-1" for="company_with">{%  trans 'اسم الشركة'%}</label>
          <select  class="required js-select form-select" data-hs-tom-select-options='{ "placeholder": "{%  trans 'اختر احد الشركات'%}..." }' name="company_with"  id="company_with">
            <option value="%%">{%  trans 'الكل'%}</option>
            <option value="">{%  trans 'اختر احد الشركات'%}</option>
              {% for item in all_company %}
                <option value="{{item.id}}" >{{item.name}}</option>
                {% endfor %}
          </select>
      <!-- End Col -->
      </div>
          


              <div class="col-12 col-md-3">
                <div class="form-group bmd-form-group">
                  <label  class="pb-1" for="start_added_date">{%  trans 'بداية وقت الإضافة'%}</label>
                  <input type="text"  data-hs-flatpickr-options='{
                    "dateFormat": "d/m/Y H:i",
                    "enableTime": true
                  }' class="js-flatpickr form-control flatpickr-custom"  name="start_added_date"  id="start_added_date">
                  <div class="invalid-feedback">
                    {%  trans 'الرجاء التحقق من هذه الخانة'%}
                  </div>  
                </div>
              </div>


              <div class="col-12 col-md-3">
                <div class="form-group bmd-form-group">
                  <label  class="pb-1" for="end_added_date">{%  trans 'نهاية وقت الإضافة'%}</label>
                  <input type="text"  data-hs-flatpickr-options='{
                    "dateFormat": "d/m/Y H:i",
                    "enableTime": true
                  }' class="js-flatpickr form-control flatpickr-custom"  name="end_added_date"  id="end_added_date">
                  <div class="invalid-feedback">
                    {%  trans 'الرجاء التحقق من هذه الخانة'%}
                  </div>  
                </div>
              </div>
              <!-- End Row -->



            </div>

            <div class="row mt-3  align-items-center flex-grow-1">
             

            <div class="col-12 col-md-5">
              <div class=" mt-4">
                <button class="btn btn-success btn-sm w-100" onclick="refresh_table()" type="button">  <i class="tio-delete-outlined"></i> {% trans 'بحث'%}</a>
              </div>
            </div>
            </div>
            <!-- End Header -->


            <div class="card-body table-responsive datatable-custom">
              <table id="example2" class="table table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer table-striped">
                <thead class="thead-light">
                <tr>


                              <th>{% trans 'رقم' %} </th>
                              <th>{% trans 'صورة' %} </th>
                              <th>{% trans 'كود' %} </th>
                              <th>{% trans 'اللون' %} </th>
                              <th>{% trans 'المقاس' %} </th>
                              <th>{% trans 'الشركة' %} </th>
                              <th>{% trans 'مندوب' %} </th>
                              <th>{% trans 'حالة' %} </th>
                              <th>{% trans 'هل مرتجع' %} </th>
                              <th>{% trans "التعديلات" %} </th>
                              <th>{% trans "Delete" %} </th>

               

                
                </tr>
                </thead>
  
              </table>
            </div>
            <!-- /.card-body -->

            
            <!-- Footer -->
            <div class="card-footer">
              <!-- Pagination -->
              <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                <div class="col-auto">
                  <div class="row align-items-sm-center">
                <div class="col-auto">
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- <h4 class="card-header-title">{% trans 'المناطق المنفذه علي مستوى الجمهورية'%}</h4> -->

                    <!-- Datatable Info -->
                    <div id="datatableCounterInfo">
                      <div class="d-flex align-items-center">
                        <a class="btn btn-success btn-sm"  type="button" href="{% url 'mainApp:addnew_category'%}?type=new">  <i class="tio-delete-outlined"></i> {% trans 'اضافة موديل'%}</a>
                      </div>
                    </div>
                    <!-- End Datatable Info -->
                  </div>
                  </div>
                
                <div class="col-auto">
                  <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="me-2">{% trans 'يظهر' %}:</span>

                    <!-- Select -->
                    <div class="tom-select-custom">
                      <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true
                              }'>
                        <option value="4">4</option>
                        <option value="10">10</option>
                        <option value="20" selected>20</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                    <!-- End Select -->

                    <span class="text-secondary me-2">{% trans 'من' %}</span>

                    <!-- Pagination Quantity -->
                    <span id="datatableWithPaginationInfoTotalQty"></span>
                  </div>
                </div>
                <!-- End Col -->

                </div>
                </div>

                <div class="col-sm-auto">
                  <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Pagination -->
            </div>
            <!-- End Footer -->

          </div>
          <!-- /.card -->


          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>








<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'إضافة مجموعة قطع'%}</h5>
        <button type="button" class="btn-close m-0 p-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  method="POST" enctype="multipart/form-data" id="form" class="needs-validation form-horizontal " novalidate>
       
        {% csrf_token %}
      <div class="modal-body container-fluid">

         


          <div class="row">
           

            <div class="col-12">
              <div class="form-group bmd-form-group">
                
                <label  class="pb-1" for="name_category">{%  trans 'اسم الموديل'%}</label>


                <div class="tom-select-custom">
                  <select required=""  class="required js-select form-select" name="name_category"  id="name_category">
                   
                    {% for item in all_category_group %}
                    <option value="{{item.name_en}}" >{{item.name_en}}</option>
                    {% endfor %}
                  </select>
                </div>


                <div class="invalid-feedback">
                  {%  trans 'الرجاء التحقق من هذه الخانة'%} 
                </div>  
              </div>
            </div>


            <div class="col-12 mb-3">
              <div class="form-group bmd-form-group">
                
                <label  class="pb-1" for="category_add">{%  trans 'موديل'%}</label>


                <div class="tom-select-custom">
                  <select required=""  class="required  form-select" name="category_add"  id="category_add">
                   
                    
                  </select>
                </div>


                <div class="invalid-feedback">
                  {%  trans 'الرجاء التحقق من هذه الخانة'%} 
                </div>  
              </div>
            </div>



            {% for item in all_size %}

            <div class="col-3 ">
              <div class="form-group bmd-form-group">
                <label  class="pb-1" for="size_{{item.id}}">{%  trans 'مقاس'%} {{item.size}}</label>
                <input type="text" value="0" class="form-control  mb-3" name="size_{{item.id}}"  id="size_{{item.id}}">
                <div class="invalid-feedback">
                  {%  trans 'الرجاء التحقق من هذه الخانة'%}
                </div>  
              </div>
            </div>

            {% endfor %}

            <div class="col-12">
              <div class="form-group bmd-form-group">
                <label  class="pb-1" for="details">{%  trans 'ملاحظة'%}</label>
                <input type="text"  class="form-control  mb-3" name="details"  id="details">
                <div class="invalid-feedback">
                  {%  trans 'الرجاء التحقق من هذه الخانة'%}
                </div>  
              </div>
            </div>


            <div class="col-12">
              <div class="form-group bmd-form-group">
                <label  class="pb-1" for="sector_object">{%  trans 'اسم القطاع'%}</label>
                <select class="form-control mb-3 js-select " data-hs-tom-select-options='{ "placeholder": "{% trans 'أختر القطاع'%}..." }' name="sector_object"  id="sector_object">
                  <option value="">{%  trans 'اختر احد الأنواع'%}</option>
                  {% for item in all_sector %}
                  <option value="{{item.id}}">{{item.name}}</option>
                  {% endfor %}
              </select>
                <div class="invalid-feedback">
                  {%  trans 'الرجاء التحقق من هذه الخانة'%} 
                </div>  
              </div>
            </div>

           

            
            
          
          </div>


         



       


       
          
      
        
           
          <br/>
          <!-- <button type="submit" class="btn btn-primary pull-right">حفظ</button> -->
          
          <div class="clearfix"></div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-bs-dismiss="modal">{% trans 'إغلاق'%}</button>
        <button type="submit" class="btn btn-primary" >{% trans "إصدار" %}</button>

      </div>
    </form>
    </div>
  </div>
</div>
<!-- End Modal -->











{% endblock %}





{% block javaNew %}




<!-- <script  src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js" ></script> -->




<script>
  // INITIALIZATION OF DATATABLES
      // =======================================================
      $(function () {
        showLoader()
      // INITIALIZATION OF DATATABLES
      // =======================================================
       HSCore.components.HSDatatables.init($('#example2'), {
        "processing": true,
        "serverSide": true,
        "select": {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        },
        "language": {
          zeroRecords: `<div class="text-center p-4">
                <img class="mb-3" src="{% static 'svg/illustrations/oc-error.svg'%}" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                <img class="mb-3" src="{% static 'svg/illustrations-light/oc-error.svg'%}" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
              <p class="mb-0">No data to show</p>
              </div>`
        },
        "columnDefs": [{
                        "targets": [0, 1, 2,3,4,5,6,7,8,9,10],
                        "orderable": false
                      }],
        "order": [],
        "info": {
          "totalQty": "#datatableWithPaginationInfoTotalQty"
        },
        "search": "#datatableSearch",
        "entries": "#datatableEntries",
        "pageLength": 20,
        "isResponsive": false,
        // "scrollX":        true,
        // "fixedColumns":   {
        //     "left": 3
        // },
        "dom": "Bfrtip",
        "buttons": [
          {
            "extend": "copy",
            "className": "d-none"
          },
          {
            "extend": "excel",
            "className": "d-none"
          },
          {
            "extend": "csv",
            "className": "d-none"
          },
          {
            "extend": "pdf",
            "className": "d-none"
          },
          {
            "extend": "print",
            "className": "d-none"
          }
        ],
        "isShowPaging": false,
        "pagination": "datatablePagination",
        "ajax": {
                "url": "{% url 'mainApp:getListOf_item' %}",
                "data": function ( d ) {
                 d.category = $('#category').val();
                 d.company_with = $('#company_with').val();
                 d.representitive_with = $('#representitive_with').val();
                 d.size = $('#size').val();
                 d.sector = $('#sector').val();
                 d.exists = $('#exists').val();
                 d.start_added_date = $('#start_added_date').val();
                 d.end_added_date = $('#end_added_date').val();
                    
                }
            },
        "initComplete": function(settings, json) {
    hideLoader()
    // do whatever with info here...
  },
        "aoColumns": [
           
              
            {
              className: "  ", "mData": null,"mRender": function (item) {
                
                   // Add event listener for opening and closing details
 
                   return `<a class="ml-4 bluefont" href="{% url 'mainApp:show_item'%}?type=edit&id=`+item.id+`">`+item.id+`</a>`;
            }
            }, 
            {
              className: "", "mData": null,"mRender": function (item) {
                
               if(item.image==null || item.image==""){
                image = '/static/img/160x160/img2.jpg'
               }else{
                image = '/media/'+item.image
               }
                
                return '<img class="img_list" src="'+image+'"/>';
                


            }
            },
            {
              className: "","mData": null,"mRender": function (item) { 
                  
                  
                
                  
                return '<a>'+item.part_num+'</a>';
                
                

                
            }
            }
            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
              
                return '<a>'+item.color_name+'</a>';
                
                

             

                }
            }                 
            
            
            
            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
              
                return '<a>'+item.size+'</a>'; 
                
                
                }
            }                 
            

            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
              
                return '<a>'+item.company_with_name+'</a>'; 
                
                
                }
            }        
            
            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
              
                return '<a>'+item.representitive_with_name+'</a>'; 
                
                
                }
            }        

            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
              if(item.exists == "1"){ 
                exists = "{% trans 'متاح بالمخزن'%}"
              }else if(item.exists == "0"){
                
                exists = "{% trans 'غير متوفر بالمخزن'%}"
              }
                return '<a>'+exists+'</a>'; 
                
                
                }
            }        
            

            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
                is_returned = ""
                if(item.is_returned == "1"){ 
                  is_returned = "{% trans 'مرتجع'%}"
              }else if(item.is_returned == "0"){
                
                is_returned = "{% trans 'ليس مرتجع'%}"
              }
                return '<a>'+is_returned+'</a>'; 

                
                
                }
            }        
            
                  
            
            
            
            ,
            {
              className: "", "mData": null,"mRender": function (item) { 
              
                return `<a class="ml-4 bluefont" href="{% url 'mainApp:addnew_item'%}?type=edit&id=`+item.id+`"><i class="fa fa-cog"></i></a>`;
             
                

             

                }
            }                 
            ,
            
            
            {
              className: "", "mData": null,"mRender": function (item) { 
                
                
               
                return '<a class="ml-4 bluefont"href="javascript:void(0)" nameOfItem="'+item.name+'"  idOfItem="'+item.id+'" onclick="askToDeleteItemWithId(this);"><i class="fa fa-trash"></i></a>';
             
                

                // '  <a class="btn btn-outline-success btn-sm"  href="javascript:void(0)" nameOfItem="'+item.name+'"  idOfItem="'+item.id+'" onclick="askToDeleteItemWithId(this);"><i class="bi-trash"></i> {% trans "مسح"%}</a>'
             

                }
            }              
             
        ]
        
  
      });
  
  
    
  
      const datatable = HSCore.components.HSDatatables.getItem(0)
  



      document.getElementById('export-copy').addEventListener('click', function () {
        datatable.button('.buttons-copy').trigger()
      })
  
      document.getElementById('export-excel').addEventListener('click', function () {
        datatable.button('.buttons-excel').trigger()
      })
  
      document.getElementById('export-csv').addEventListener('click', function () {
        datatable.button('.buttons-csv').trigger()
      })
  
      document.getElementById('export-pdf').addEventListener('click', function () {
        datatable.button('.buttons-pdf').trigger()
      })
  
      document.getElementById('export-print').addEventListener('click', function () {
        datatable.button('.buttons-print').trigger()
      })
  
      
  
      document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
        item.addEventListener('change',function(e) {
          const elVal = e.target.value,
      targetColumnIndex = e.target.getAttribute('data-target-column-index'),
      targetTable = e.target.getAttribute('data-target-table');
  
      HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(elVal !== 'null' ? elVal : '').draw()
        })
      })
  
      
    });
  
   




</script>

<script>



        

        function askToDeleteItemWithId(element){
  Swal.fire({
              title: '<strong>{% trans "Do you need to delete this item?" %} </strong>',
              icon: 'warning',
              html:
                '<div class="tD-responsive table-responsive">'+
                '<table class="tD table">'+
                    '<thead><tr><th colspan="2">{% trans "Item Details" %}</th></tr></thead>'+
                    '<tbody>'+
                        '<tr>'+
                            '<td width="20%"><strong>{% trans "Name" %} </strong></td>'+
                            '<td>'+$(element).attr('nameOfItem')+'</td>'+
                        '</tr>'+
                    '</tbody>'+
                '</table>'+
            '</div>',
              showCloseButton: true,
              showCancelButton: true,
              focusConfirm: false,

              confirmButtonText:'<i class="fa fa-trash"></i> {% trans "Delete" %}',
              confirmButtonColor: '#d33',
              confirmButtonAriaLabel: 'Thumbs up, great!',
              cancelButtonText:'<i class="fa fa-times-circle-o"></i> {% trans "Close" %}',
              cancelButtonAriaLabel: 'Thumbs down'
            }).then((result) => {
              if (result.value) {


                showLoader();
                $.ajax({
                  type: 'POST',
                  url: "{% url 'mainApp:delete_item'%}",
                  dataType: 'json',
                  data: { 
                      'id': $(element).attr('idOfItem')
                  },
                  headers:{
                      "X-CSRFToken": csrftoken
                          },
                  cache: false,
                  success: function(result) {
                    hideLoader();
                      if(result.Result == "Success"){
                        Swal.fire(
                          '{% trans "Done" %}',
                          '{% trans "Successfully deleted" %}',
                          'success'
                        ).then((result) => {
                          if (result.value) {
                        location.reload();
                          }
                        });
                        }else{
                          Swal.fire(
                            '{% trans "Error" %}',
                            '{% trans "Error while deleting" %}',
                            '{% trans "Error" %}'
                          )
                        }
                  
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                  hideLoader();
                  Swal.fire(
                    '{% trans "Error" %}',
                    '{% trans "Error while deleting" %}',
                    '{% trans "Error" %}'
                  )
                  }
              });

                
              }
            });
}


</script>


<script>
  function refresh_table(){
    HSCore.components.HSDatatables.getItem(0).ajax.reload();
  }
</script>

<script>

(function() {
    'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    window.history.replaceState({}, document.title, "/" + "listOf_item/");

    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }else{
      showLoader()
      return false; // Prevent page refresh
  
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();


</script>



<script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js'%}"></script>
<script>

    // INITIALIZATION OF FLATPICKR
    // =======================================================
    HSCore.components.HSFlatpickr.init('.js-flatpickr')
 
</script>


<script>

  
$('#name_category').on('change', function() {
  showLoader();
                $.ajax({
                  type: 'POST',
                  url: "{% url 'mainApp:get_all_categories_by_name'%}",
                  dataType: 'json',
                  data: { 
                      'name': $('#name_category').val()
                  },
                  headers:{
                      "X-CSRFToken": csrftoken
                          },
                  cache: false,
                  success: function(result) {
                    hideLoader();
                      if(result.Result == "Success"){
                          console.log(result.Data)
                          all_data = result.Data
                          $('#category_add').empty()
                          for(var i=0;i<all_data.length;i++){
                            data = all_data[i]
                            element = `

                            <option value="`+data.id+`"  data-option-template='<div class="d-flex align-items-start"><div class="flex-shrink-0"><img class="img_list2" src="`+data.image+`"/></div><div class="flex-grow-1 ms-2"><span class="d-block fw-semi-bold">`+data.serial_start+` (`+data.color_name+`)</span></div></div>'>`+data.serial_start+` (`+data.color_name+`)</option>
                   
                            `
                            $('#category_add').append(element)
                          }
                        }else{
                          Swal.fire(
                            '{% trans "مشكلة" %}',
                            '{% trans "مشكلة فى تحميل البيانات" %}',
                            '{% trans "Error" %}'
                          )
                        }
                  
                  },
                  error: function (xhr, ajaxOptions, thrownError) {
                  hideLoader();
                  Swal.fire(
                    '{% trans "مشكلة" %}',
                    '{% trans "مشكلة فى تحميل البيانات" %}',
                    '{% trans "Error" %}'
                  )
                  }
              });

                
});
</script>

<script>
  $('#navbar_item_main').removeClass('collapsed')
  $('#navbar_item').addClass('show')
  $('#navbar_item_main').attr('aria-expanded','true')
  $('#listOf_item').addClass('active')
</script>
{% endblock %}
